# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

#Enviroment variaables
.env

# Packaging
*.egg-info/

# Alembic cache
.alembic/

# VS Code
.vscode/

# macOS
.DS_Store

#SQLite database
*.db

#Uploaded files
storage/photos*
!storage/photos/.gitkeep